<div class="container mt-5 bg-secondary">
  <h5 class="my-3">Korišćenje Ng Room Directive</h5>
  <div class="row row-cols-4 mt-5">

    <!-- Poziv novokreirane direktive -->
    <div class="col" *ngRoomFor="let room of rooms">

      <div class="card">

        <h4>id: {{room.id}}</h4>

        <img src="{{ room.imageUrl }}" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h5>{{ room.title }}</h5>
            <p class="text-secondary">{{room.numberOfBeds}} Beds</p>
          </div>


          <div class="row mt-3">
            <div class="col">
              <a href="#" class="btn btn-primary">{{ room.price | currency:'EUR' }}</a>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>